adobe-common-application/src/main/resources/wsdl/PDFDiagnosticsWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="PDFDiagnosticsWS" targetNamespace="http://brooks/AdobeCommonServices.Source.CommonServices.ws.provider:PDFDiagnosticsWS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://brooks/AdobeCommonServices.Source.CommonServices.ws.provider:PDFDiagnosticsWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://brooks/AdobeCommonServices.Source.CommonServices.ws.provider:PDFDiagnosticsWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://brooks/AdobeCommonServices.Source.CommonServices.ws.provider:PDFDiagnosticsWS">
            <xsd:complexType name="PDFDiagnostics">
                <xsd:sequence>
                    <xsd:element name="inputFile" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PDFDiagnosticsResponse">
                <xsd:sequence>
                    <xsd:element name="PDFDiagnosticsReturn" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PDFDiagnosticsByReference">
                <xsd:sequence>
                    <xsd:element name="inputFileUrl" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PDFDiagnosticsByReferenceResponse">
                <xsd:sequence>
                    <xsd:element name="PDFDiagnosticsByReferenceReturn" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="PDFDiagnosticsByReference" type="tns:PDFDiagnosticsByReference"/>
            <xsd:element name="PDFDiagnosticsByReferenceResponse" type="tns:PDFDiagnosticsByReferenceResponse"/>
            <xsd:element name="PDFDiagnostics" type="tns:PDFDiagnostics"/>
            <xsd:element name="PDFDiagnosticsResponse" type="tns:PDFDiagnosticsResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PDFDiagnosticsWS_PortType_PDFDiagnosticsByReferenceResponse">
        <wsdl:part name="parameters" element="tns:PDFDiagnosticsByReferenceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PDFDiagnosticsWS_PortType_PDFDiagnostics">
        <wsdl:part name="parameters" element="tns:PDFDiagnostics">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PDFDiagnosticsWS_PortType_PDFDiagnosticsResponse">
        <wsdl:part name="parameters" element="tns:PDFDiagnosticsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PDFDiagnosticsWS_PortType_PDFDiagnosticsByReference">
        <wsdl:part name="parameters" element="tns:PDFDiagnosticsByReference">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PDFDiagnosticsWS_PortType">
        <wsdl:operation name="PDFDiagnosticsByReference">
            <wsdl:input message="tns:PDFDiagnosticsWS_PortType_PDFDiagnosticsByReference">
            </wsdl:input>
            <wsdl:output message="tns:PDFDiagnosticsWS_PortType_PDFDiagnosticsByReferenceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PDFDiagnostics">
            <wsdl:input message="tns:PDFDiagnosticsWS_PortType_PDFDiagnostics">
            </wsdl:input>
            <wsdl:output message="tns:PDFDiagnosticsWS_PortType_PDFDiagnosticsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdobeCommonServices_Source_CommonServices_ws_provider_PDFDiagnosticsWS_Binder" type="tns:PDFDiagnosticsWS_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PDFDiagnosticsByReference">
            <soap:operation soapAction="AdobeCommonServices_Source_CommonServices_ws_provider_PDFDiagnosticsWS_Binder_PDFDiagnosticsByReference" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PDFDiagnostics">
            <soap:operation soapAction="AdobeCommonServices_Source_CommonServices_ws_provider_PDFDiagnosticsWS_Binder_PDFDiagnostics" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PDFDiagnosticsWS">
        <wsdl:port name="AdobeCommonServices_Source_CommonServices_ws_provider_PDFDiagnosticsWS_Port" binding="tns:AdobeCommonServices_Source_CommonServices_ws_provider_PDFDiagnosticsWS_Binder">
            <soap:address location="http://reeks.bcgov:5555/ws/AdobeCommonServices.Source.CommonServices.ws.provider:PDFDiagnosticsWS/AdobeCommonServices_Source_CommonServices_ws_provider_PDFDiagnosticsWS_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
