adobe-common-application/src/main/resources/wsdl/PDFTransformationWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="PDFTransformationsWS" targetNamespace="http://brooks/AdobeCommonServices.Source.CommonServices.ws.provider:PDFTransformationsWS" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2008/07/soap/bindings/JMS/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://brooks/AdobeCommonServices.Source.CommonServices.ws.provider:PDFTransformationsWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://brooks/AdobeCommonServices.Source.CommonServices.ws.provider:PDFTransformationsWS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://brooks/AdobeCommonServices.Source.CommonServices.ws.provider:PDFTransformationsWS">
            <xsd:complexType name="PDFTransformations">
                <xsd:sequence>
                    <xsd:element name="inputFile" nillable="true" type="xsd:string"/>
                    <xsd:element name="flags" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PDFTransformationsResponse">
                <xsd:sequence>
                    <xsd:element name="outputFile" nillable="true" type="xsd:string"/>
                    <xsd:element name="statusVal" nillable="true" type="xsd:int"/>
                    <xsd:element name="statusMsg" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PDFTransformations2">
                <xsd:sequence>
                    <xsd:element name="inputFile" nillable="true" type="xsd:string"/>
                    <xsd:element name="flags" nillable="true" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PDFTransformationsResponse2">
                <xsd:sequence>
                    <xsd:element name="outputFile" nillable="true" type="xsd:string"/>
                    <xsd:element name="statusVal" nillable="true" type="xsd:int"/>
                    <xsd:element name="statusMsg" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="PDFTransformations" type="tns:PDFTransformations"/>
            <xsd:element name="PDFTransformationsResponse" type="tns:PDFTransformationsResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PDFTransformationsWS_PortType_PDFTransformations">
        <wsdl:part name="parameters" element="tns:PDFTransformations">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="PDFTransformationsWS_PortType_PDFTransformationsResponse">
        <wsdl:part name="parameters" element="tns:PDFTransformationsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PDFTransformationsWS_PortType">
        <wsdl:operation name="PDFTransformations">
            <wsdl:input message="tns:PDFTransformationsWS_PortType_PDFTransformations">
            </wsdl:input>
            <wsdl:output message="tns:PDFTransformationsWS_PortType_PDFTransformationsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PDFTransformationsByReference">
            <wsdl:input message="tns:PDFTransformationsWS_PortType_PDFTransformations">
            </wsdl:input>
            <wsdl:output message="tns:PDFTransformationsWS_PortType_PDFTransformationsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AdobeCommonServices_Source_CommonServices_ws_provider_PDFTransformationsWS_Binder" type="tns:PDFTransformationsWS_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PDFTransformations">
            <soap:operation soapAction="AdobeCommonServices_Source_CommonServices_ws_provider_PDFTransformationsWS_Binder_PDFTransformations" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PDFTransformationsByReference">
            <soap:operation soapAction="AdobeCommonServices_Source_CommonServices_ws_provider_PDFTransformationsWS_Binder_PDFTransformationsByReference" style="document"/>
            <wsdl:input>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PDFTransformationsWS">
        <wsdl:port name="AdobeCommonServices_Source_CommonServices_ws_provider_PDFTransformationsWS_Port" binding="tns:AdobeCommonServices_Source_CommonServices_ws_provider_PDFTransformationsWS_Binder">
            <soap:address location="http://reeks.bcgov:5555/ws/AdobeCommonServices.Source.CommonServices.ws.provider:PDFTransformationsWS/AdobeCommonServices_Source_CommonServices_ws_provider_PDFTransformationsWS_Port"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
